<div class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container-fluid checkout-bar">
    <div class="row">
      <div class="back col-xs-4">
        <%= link_to "Back", :back, class: "btn btn-success back-button" %>
      </div>
      <div class="col-xs-4 cart-text-checkout">
        <%= link_to "Confirm order", youre_done_index_path, class: "btn btn-success continue-button" %>
        <span class="total">Total:</span>
        <div class="cart-total">
          <div class="subtotal">
            <%= number_to_currency current_order.subtotal %>
          </div>
          <div class="monthly_subtotal">
            <%= number_to_currency current_order.monthly_subtotal %>/mo. *
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
