<div class="page-header">
  <%= link_to root_path do %>
    <h1>Confirm your order</h1>
  <% end %>
</div>
<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
<%= render "checkout/checkout_footer" %>
