<div class="page-header">
  <h1>You're all done!</h1> <h3>The sales associate will take it from here.</h3>
</div>
<div class="col-xs-12">
  <ul class="manufacturer-buttons">
    <%= link_to "Enter Associate", associates_path, class: "btn btn-custom-youre-done" %>
  </ul>
</div>
