div:visited {
  background: red;
}
.accessory-image {
  text-align: center;
}


.accessory-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2.2em;
}

.accessory-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  // text-align: justify;
  margin-bottom: 10px;
}

.price-and-button {
  text-align: center;
}

.price-and-price-per-month {
  // border: 1px solid black;
  // border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.33);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.33);
}

.price {
  padding-top: .5px;
  padding-bottom: .5px;
  background: gray;
  color: white;
}

.price-discount {
  padding-top: .5px;
  padding-bottom: .5px;
  background: #5cb85c;
}

.price-per-month {
  padding-top: .5px;
  padding-bottom: .5px;
  background: white;
}

.add-button, .decline-button {
  margin-top: 5px;
  min-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.4em;
  font-weight: 300;
}

.decline-button {
 margin-top: 65%;
}

.decline-remove {
  margin-top: 65%;
}

@media only screen and (min-width: 545px) {
  .accessory-description {
    font-size: 1.5em;
  }
}
