.accessory-cards {
  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.33);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.33);
}

// .accessory-image {
//   display: inline-block;
//   padding-right: 0px;
// }
//
// .accessory-name-description {
//   font-family: 'Open Sans', sans-serif;
//   font-weight: 300;
// }
//
// .accessory-name {
//   display: inline-block;
//   margin-right: auto;
//   margin-left: auto;
//   font-size: 1.5em;
//   // margin-left: 0px;
//   // padding-left: 0px;
// }
//
// .accessory-description {
//   font-size: 1.2em;
// }
//
// .edit-accessory {
//
// }



.accessory-image, .accessory-year, .accessory-name {

}

.accessory-image {
 margin-top: 20px;
 margin-bottom: 20px;
}


.accessory-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  // margin-top: 25px;
  font-size: 2em;
  // margin-left: -30px;
}

.accessory-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  // margin-top: 20px;
  font-size: 1.2em;
}

.edit-accessory {
  margin-top: 58px;

}
