
.accessory-image {
  text-align: center;
}


.accessory-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2.2em;
}

.accessory-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: justify;
}

.price-and-button {
  text-align: center;
}

.price-and-price-per-month {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.price {
  padding-top: .5px;
  padding-bottom: .5px;
  background: gray;
  color: white;
}

.price-discount {
  padding-top: .5px;
  padding-bottom: .5px;
  background: #5cb85c;
}

.add-button {
  min-width: 100%;
  margin-bottom: 5px;
}

@media only screen and (min-width: 545px) {
  .accessory-description {
    font-size: 1.5em;
  }
}
