.console-nav {
  font-size: 2em;
  float: none;
  border-bottom: 1px solid #eeeeee;
  margin-top: -12px;
}

ul.console-nav li {
  text-align: center;
  margin-left: 18%;
}

.address {
  line-height: .7em;
  margin-bottom: 30px;
}

.delete-my-account {
  background: rgba(255, 109, 63, 1);
  margin-top: 20px;
}

.delete-my-account-text {
  padding: 10px 20px;
}
