h1, h3, small, .page-header, .console-nav {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

small {
  margin-left: 47%;
}

ul {
  padding: 0;
}

.logo-button-toyota, .logo-button-subaru {
  margin-left: 5%;
  margin-top: 3%;
}

.logo-button-toyota {
  max-width: 35%;
}

.logo-button-subaru {
  max-width: 39%;
  margin-bottom: -8px;
}
// ul.manufacturer-buttons {
//   text-align: center;
// }

// .btn-custom-manufacturer {
//    background-color: hsl(192, 92%, 41%) !important;
//    background-repeat: repeat-x;
//    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08a2c8", endColorstr="#08a2c8");
//    background-image: -khtml-gradient(linear, left top, left bottom, from(#08a2c8), to(#08a2c8));
//    background-image: -moz-linear-gradient(top, #08a2c8, #08a2c8);
//    background-image: -ms-linear-gradient(top, #08a2c8, #08a2c8);
//    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #08a2c8), color-stop(100%, #08a2c8));
//    background-image: -webkit-linear-gradient(top, #08a2c8, #08a2c8);
//    background-image: -o-linear-gradient(top, #08a2c8, #08a2c8);
//    background-image: linear-gradient(#08a2c8, #08a2c8);
//    border-color: #08a2c8 #08a2c8 hsl(192, 92%, 41%);
//    color: #fff !important;
//    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
//    -webkit-font-smoothing: antialiased;
//    max-width: 220px;
//    padding: 20px 60px;
//    font-size: 2em;
//    margin-top: 20px;
//    display: block;
//    margin-left: auto;
//    margin-right: auto;
//    font-family: 'Oxygen', sans-serif;
//  }



 // .col-centered {
 //   float: none;
 //   margin-right: auto;
 //   margin-left: auto;
 // }

 @media only screen and (min-width: 545px) {
   .btn-custom-manufacturer {
     display: inline-block;
     margin-right: 2%;
   }
   ul.manufacturer-buttons {
     text-align: center;
   }
 }
