.model-cards {
  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.33);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.33);
}

.model-image, .model-year, .model-name {

}

.model-image {
  display: inline-block;
}

.model-year-name {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  max-width: 290px;
  margin: 0;
  margin-left: -20px;
}

.model-year {
  display: inline-block;
  margin-top: 42px;
  font-size: 1.5em;
  margin-left: 0;
}

.model-name {
  display: inline-block;
  margin-top: 35px;
  font-size: 1.6em;
  padding-left: 0%;
}

.edit-model {
  margin-top: 0px;

}

@media only screen and (min-width: 545px) {

  .model-year-name {
    margin-left: 8%;
  }

  .model-year {
    font-size: 2em;
  }

  .model-name {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 769px) {
  .model-name {

  }
}
