<nav class="navbar">
  <div class="container-fluid col-md-12">
    <ul class="nav navbar-nav console-nav">
      <li><%= link_to "Stats", console_index_path %></li>
      <li><%= link_to "Emails", edit_email_path(id: 1) %></li>
      <li><%= link_to "Account", edit_admin_registration_path %></li>
    </ul>
  </div>
</nav>
