




        <%= link_to "Continue", cart_path, class: "btn btn-success continue-button" %>
        <span class="total">Total:</span>
        <div class="cart-total">
          <div class="subtotal cart-text-cards">
            <%= number_to_currency current_order.subtotal %>
          </div>
          <div class="monthly_subtotal cart-text-cards">
            <%= number_to_currency current_order.monthly_subtotal %>/mo. *
          </div>
          <div class="declined">
          </div>
        </div>
